nav[aria-label='Docs sidebar'] {
  padding: 24px;
  font-size: 1rem;
  line-height: 1.3;
}

li.theme-doc-sidebar-item-category-level-1:not(:first-child) {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

li.theme-doc-sidebar-item-link-level-1:not(:first-child) {
  margin-top: 0.6rem;
}

.menu__link:hover {
  color: var(--ifm-menu-color-active);
  background-color: initial;
}

.menu__link--active:not(.menu__link--sublist) {
  color: var(--ifm-menu-color-active);
  background-color: initial;
}

.menu__list-item-collapsible:hover {
  background: initial;
}
